@import "tailwindcss";
@import '../../../node_modules/klewik-ui/tailwind-theme.css';

@source "../../../../../packages/ui/**/*.{ts,tsx,js,jsx}";

@plugin 'tailwindcss-animate';

@keyframes heartbeating {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.15;
    }

    100% {
        scale: 1;
    }
}

@utility animate-heartbeating {
    animation-name: heartbeating;
    animation-duration: 1.75s;
    animation-iteration-count: infinite;
}

@layer base {
    :root {
        color-scheme: light dark;
        color: rgba(255, 255, 255, 0.87);

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        --aside-width: 65px;
        --header-height: 48px;
        --footer-height: 64px;
        --mobile-menu-bottom: 16px;
        --sheet-height: calc(100% - 20px);

        --height-search-dialog-header: 200px;
        --height-search-dialog-footer: 40px;

        --height-search-dialog-content: calc(100% - var(--height-search-dialog-header));

        --height-page: calc(100vh - var(--header-height));

        --dialog-width-desktop: 550px;
        --dialog-width-laptop: 500px;

        --tabs-inner-padding: 4px;

        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;

        background-color: var(--color-dark-foreground);
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;

        background-color: var(--color-dark-foreground);
    }

    html {
        @apply h-full w-full;
    }

    #root {
        font-size: 16px;
        @apply w-full h-auto;
    }

    body {
        font-family: "Inter", sans-serif;
        @apply m-0 h-full w-full antialiased;
    }

    header {
        height: var(--header-height);
    }

    li {
        list-style-type: none;
    }

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
        -webkit-background-clip: text;
        -webkit-text-fill-color: #f4f4f4 !important;
        animation-name: onAutoFillStart;
        transition: background-color 5000s ease-in-out 0s;
    }

    input:not(:-webkit-autofill) {
        animation-name: onAutoFillCancel;
    }

    section>header {
        height: auto;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
        -moz-appearance: textfield;
    }

    number-flow-react::part(left),
    number-flow-react::part(right),
    number-flow-react::part(left)::after,
    number-flow-react::part(right)::after,
    number-flow-react::part(symbol) {
        padding: calc(var(--number-flow-mask-height, 0.25em) / 2) 0;
    }

    .welcome-wizard__spacer {
        flex: 1;
    }

    .welcome-wizard__spacer:first-child {
        flex: 0.6;
    }

    .welcome-wizard__spacer:last-child {
        flex: 1.4;
    }

    .main--dashboard {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .border-divider {
        border: none;
        border-bottom: 3px dotted var(--color-dark-accent);
    }

    .rsw-editor {
        border: none !important;
    }

    .rsw-ce:focus {
        outline: none !important;
    }

    @container slider (300px <=height <=768px) {
        .slider-content {
            flex-basis: 70%;
        }
    }

    @container slider (1080px > height > 768px) {
        .slider-content {
            flex-basis: 45%;
        }
    }

    @container slider (height >=1080px) {
        .slider-content {
            flex-basis: 50%;
        }
    }
}

@layer wysiwygEditor {
    .tiptap p.is-editor-empty:first-child::before {
        color: var(--color-gray);
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }

    .tiptap:focus-visible {
        outline: none !important;
    }

    .tiptap h1 {
        font-size: 24px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .tiptap h2 {
        font-size: 21px;
        font-weight: 600;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .tiptap ol {
        @apply pl-6 mb-2 tablet:pl-12 tablet:mb-3;
    }

    .tiptap ol li {
        list-style-type: decimal;
    }

    .tiptap ul {
        @apply pl-6 mb-2 tablet:pl-12 tablet:mb-3;
    }

    .tiptap ul li {
        list-style-type: disc;
    }

    .tiptap {
        @apply text-white/85;
    }
}

@layer components {
    .slider {
        container-type: size;
        container-name: slider;
        @apply flex h-full w-full flex-col justify-center gap-y-6 overflow-scroll px-0.5 transition-[height];
    }

    .slider-content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 2px 0 2px 0;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }

    .pencil-icon-gradient {
        background: linear-gradient(to left,
                rgba(255, 249, 168, 0.3),
                rgba(249, 139, 133, 0.3));
    }

    .tabs-runner-shadow {
        box-shadow: 0px 1px 4px 3px rgba(20, 19, 21, 0.3);
    }

    .sheet-shadow {
        /* box-shadow: -1px 2px 8px 2px rgba(20, 19, 21, 0.4); */
        /* box-shadow: -10px 2px 8px 2px rgba(20, 19, 21, 0.4); */
        box-shadow: -6px 4px 12px 1px rgba(0, 0, 0, 0.4);
    }

    .wysiwyg-editor__header {
        font-size: 24px;
        font-weight: 700;
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .wysiwyg-editor__subheader {
        font-size: 21px;
        font-weight: 600;
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .wysiwyg-editor__h3 {
        font-size: 17px;
        font-weight: 600;
        margin-top: 4px;
        margin-bottom: 4px;
    }
}
