{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "importOrder": [
    "^react",
    "<THIRD_PARTY_MODULES>",
    "^~app/(.*)$",
    "^~pages/(.*)$",
    "^~widgets/(.*)$",
    "^~features/(.*)$",
    "^~entities/auction/(.*)$",
    "^~entities/auction-slot/(.*)$",
    "^~entities/donation/(.*)$",
    "^~entities/wheel/(.*)$",
    "^~ui/(.*)$",
    "^~shared/api/(.*)$",
    "^~shared/store/(.*)$",
    "^~shared/router/(.*)$",
    "^~shared/lib/(.*)$",
    "^~shared/hooks/(.*)$",
    "^~shared/ui/(.*)$",
    "^~shared/utils/(.*)$",
    "^~shared/constants/(.*)$",
    "^~shared/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": [
    "prettier-plugin-tailwindcss",
    "@trivago/prettier-plugin-sort-imports"
  ]
}
