VITE_SERVER_URL=""
VITE_SERVER_API_PREFIX=""

VITE_AUCTIONS_VIEWER_URL=""

############
# Integration - Donation Alerts
############

VITE_DONALERTS_APP_ID=""
VITE_DA_APP_SECRET=""
VITE_DONALERTS_SCOPES=""
VITE_DA_REDIRECT_URI=""


############
# Integration - Twitch
############

VITE_TWITCH_APP_ID=""
VITE_TWITCH_REDIRECT_URI_DEV=""
